{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <h1 class="page-header">Staffing Simulator</h1>
  <form name="game" method="post" action="/{{generation}}">
    {% csrf-field %}
    <div class="row">
      <div class="col-sm-3">
        <div class="available_staff_table">
          <div class="staffing_plans_project_header">
            <h3>Available staff</h3>
          </div>

          {% safe %} {{people-table}} {% endsafe %}

        </div>
        <div class="counter"></div>
      </div>
      <div class="col-sm-9">
        {% include "current-project.html" %}
        {% for old-project in old-projects %}
          {% include "old-project.html" %}
        {% endfor %}
      </div>  
    </div>  
  </form>
</div>

{% endblock %}

{% block page-scripts %}

<script type="text/javascript">

// select/style a role row in the project table
$('.project_table > tbody > tr').click(function() {
    $(".project_table > tbody > tr").removeClass("project_role_selected_row");
    $(this).addClass("project_role_selected_row");
});

// consider/style a role row in the staffing table
$('.staffing_table > tbody > tr > td.staffing_plans_role_cell_count').hover(function() {
    $(".staffing_table > tbody > tr > td.staffing_plans_role_cell_count").removeClass("staffing_plans_considered_cell");
    $(".staffing_table > tbody > tr > td.staffing_plans_role_cell_count").removeClass("staffing_plans_selected_cell");
    $(this).addClass("staffing_plans_considered_cell");
});

// select/style a role row in the staffing table
$('.staffing_table > tbody > tr > td.staffing_plans_role_cell_count').click(function() {
    $(".staffing_table > tbody > tr > td.staffing_plans_role_cell_count").removeClass("staffing_plans_considered_cell");
    $(".staffing_table > tbody > tr > td.staffing_plans_role_cell_count").removeClass("staffing_plans_selected_cell");
    $(this).addClass("staffing_plans_selected_cell");
    var currentCount = $(this).text();
    if (currentCount > 0) {
      $(this).text(currentCount - 1);
    }
});

var clock = $('.counter').FlipClock(20, {
    clockFace: 'Counter'
  });

  setTimeout(function() {
    var interval = setInterval(function() {
      if(clock.getTime().time <= 0) {
        clock.reset();
        $('.staffing_plans_project').addClass('disabled')
        $(".project_table > tbody > tr").removeClass("staffing_plans_considered_cell");
        // document.game.submit();
      }     
      clock.decrement();
    }, 1000);
  });
</script>

{% endblock %}
