{% extends "base.html" %}
{% block content %}
<!--   <div class="jumbotron">
    <h1>Welcome to simtwop-web</h1>
    <p>Time to start building your site!</p>
    <p><a class="btn btn-primary btn-lg" href="http://luminusweb.net">Learn more &raquo;</a></p>
  </div>
 -->
<table>
  <thead>
    <tr><th/>
      {% for dates in date-stream %}
        <th>
          {{dates.month}}
        </th>
      {% endfor %}
    </tr>
    <tr><th/>
      {% for dates in date-stream %}
        <th>
          {{dates.start-of-week}}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for role in roles %}
    <tr>
      <td class="open_role_background_{{role.role}}"><div><em>{{role.role}}</em><br /></div></td>
      {% for week in lead-time %}
        <td class="no_open_role"> </td>
      {% endfor %}
      {% for week in duration %}
        <td class="open_role_background_{{role.role}}"> </td>
      {% endfor %}

    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
