{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <h1 class="page-header">Staffing Simulator</h1>
  <form name="game" method="post" action="/{{generation}}">
    {% csrf-field %}
    <div class="row">
      <div class="col-sm-3">
        <div class="available_staff_table">
          <div class="staffing_plans_project_header">
            <h3>Available staff</h3>
          </div>

          {% safe %} {{people-table}} {% endsafe %}

        </div>
        <div class="counter"></div>
        <h3>Staffing Actions</h3>
        <div class="action_log_table">
          <ul id="action_log">
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        {% include "project-table.html" %}
        <!-- {{old-projects|count}} -->
        <h3>Past projects (maximum: 10)</h3>
        {% for project in old-projects %}
          {% include "old-project-table.html" %}
        {% endfor %}
      </div>  
    </div>  
  </form>
</div>

{% endblock %}

{% block page-scripts %}

<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});

var selectedProjectRole = null;

function logAction(actionText) {
  var actionLog = document.getElementById("action_log");
  var action = document.createElement("li");
  action.appendChild(document.createTextNode(actionText));
  actionLog.insertBefore(action, actionLog.childNodes[0]);
}

function gradeRoleTupleToString(gradeRoleTuple) {
  var tupleBits = gradeRoleTuple.split("_");
  return s(tupleBits[0] + " " + tupleBits[1]).titleize().value();
}

function assessAssignment(selectedProjectRole, selectedStaff) {
  var selectedStaffTuple = selectedStaff.split("_");
  var selectedProjectRoleTuple = selectedProjectRole.split("_");

  var grades = ["grad", "con", "senior", "lead", "principal"];
  var staffGrade = selectedStaffTuple[0];
  var staffGradeRank = _.indexOf(grades, staffGrade);
  var staffRole = selectedStaffTuple[1];
  var projectGrade = selectedProjectRoleTuple[0];
  var projectGradeRank = _.indexOf(grades, projectGrade);
  var projectRole = selectedProjectRoleTuple[1];

  var gradeGap = projectGradeRank - staffGradeRank;
  if (staffRole == projectRole) {
    if (staffGrade == projectGrade) {
      return "staffed_role";
    } 

    if (gradeGap > 1) {
      return "understaffed_role";
    }

    if (gradeGap == 1) {
      return "stretchstaffed_role";
    }

    if (gradeGap == -1) {
      return "minoroverstaffed_role";
    }

    if (gradeGap < -1) {
      return "majoroverstaffed_role";
    }
  } else {
    if (gradeGap < 0) {
      return "stretchstaffed_role";      
    }    
  }

  return "misstaffed_role";

}

$.fn.removeClassRegex = function(regex) {
  return $(this).removeClass(function(index, classes) {
    return classes.split(/\s+/).filter(function(c) {
      return regex.test(c);
    }).join(' ');
  });
};

function assignStaffToSelectedRole(selectedStaff) {
  var currentCount = $(selectedStaff).text();
  if (currentCount > 0) {
    $(selectedStaff).text(currentCount - 1);
    var assignedStaffTitle = gradeRoleTupleToString($(selectedStaff).attr('id'));
    logAction("Assigned " + assignedStaffTitle + " - " + (currentCount - 1) + " remaining");
    $(selectedProjectRole).addClass("project_role_assigned_row");
    assignmentAssessment = assessAssignment(selectedProjectRole[0].id, selectedStaff.id);
    $(selectedProjectRole).find('td.open_role').each (function() {
      $(this).removeClassRegex(/staffed_role$/);
      $(this).addClass(assignmentAssessment);
    });                    
    $(selectedProjectRole).find('td.staffing_plans_role_title_cell a').each (function() {
      $(this).attr('data-original-title', "Assigned: " + assignedStaffTitle).tooltip('show');
    });      
  }
}

function selectProjectRole(selectedRole) {
  $(PROJECT_ROLE_ROW).removeClass("project_role_selected_row");
  $(selectedRole).addClass("project_role_selected_row");
  logAction("Selected '" + gradeRoleTupleToString($(selectedRole).attr('id')) + "' role...");
  selectedProjectRole = $(selectedRole);  
}

const STAFF_COUNT_CELL = ".staffing_table > tbody > tr > td.staffing_plans_role_cell_count";
const PROJECT_ROLE_ROW = ".staffing_plans_project > .project_table > tbody > tr";

$(PROJECT_ROLE_ROW).click(function() {
  selectProjectRole(this);
});

$(STAFF_COUNT_CELL).click(function() {
  if (selectedProjectRole != null) {
    assignStaffToSelectedRole(this);
  }
});

function scoreProject() {

}

function handleTimerExpiry() {
  clock.reset();
  selectedProjectRole = null;
  $(PROJECT_ROLE_ROW).removeClass("project_role_selected_row");
  $(PROJECT_ROLE_ROW).removeClass("project_role_assigned_row");
  scoreProject();
  // $('.staffing_plans_project').addClass('disabled')
  // document.game.submit();
}

var clock = $('.counter').FlipClock(20, {
    clockFace: 'Counter'
  });

  setTimeout(function() {
    var interval = setInterval(function() {
      if(clock.getTime().time <= 0) {
        handleTimerExpiry();
      }     
      clock.decrement();
    }, 1000);
  });
</script>

{% endblock %}
