        <div class="staffing_plans_project">
          <div class="staffing_plans_project_header">
            <h3><em>{{project.type}} ({{project.duration-weeks}} week{{project.duration-weeks|pluralize}})</em></h3>
          </div>
          <table class="project_table">
            <thead>
              <tr><th/><th/>
                {% for dates in project.date-stream %}
                  <th class="staffing_plans_header_month"> {{dates.month}} </th>
                {% endfor %}
              </tr>
              <tr><th/><th/>
                {% for dates in project.date-stream %}
                  <th> {{dates.start-of-week}} </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for role in project.spots %}
              <tr class="staffing_plans_role" id="{{role.grade}}_{{role.role}}_{{forloop.counter}}">
                <td class="staffing_plans_undo open_role_background_{{role.role}}"><h3><span class="fa fa-trash" aria-hidden="true"></span></h3></td>
                <td class="staffing_plans_role_cell staffing_plans_role_title_cell open_role_background_{{role.role}}">
                  <a href="#" data-toggle="tooltip" title="Unassigned"><div><em>{{role.role}}</em><br />{{role.grade}}</div></a>
                </td>
                {% for week in project.lead-time %}
                  <td class="no_open_role"> </td>
                {% endfor %}
                {% for week in project.duration %}
                  <td class="staffing_plans_role_cell open_role open_role_background_{{role.role}}"></td>
                {% endfor %}

              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
