html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

.staffing_plans_project > .project_table > tbody > tr:hover {
  filter: brightness(150%);
}

td.staffing_plans_role_cell_count:hover {
  filter: brightness(150%);
}

.project_role_selected_row {
  outline: thin dashed black;
}

.project_role_assigned_row {
  outline: thin solid green;
}

tr.old_staffing_plans_header_month {
  color: white;
  height: 0px;
}

.staffing_plans_header_month {
  background-color: #ededed;
}

.staffing_plans_selected_cell {
  outline: thick solid black;
}

.staffing_plans_project_header {
  margin: 0 4px 2px;
  padding-bottom: 7px;
}

.staffing_plans_role_cell {
  color: #ffffff;
  width: 6%;
  padding: 4px;
  position: relative;
  text-align: center;
  border-right: 4px solid #fff;
}

h3 {
  font-size: 1.4em;
  font-family: opensans-light, Open Sans, Helvetica, Arial;
  font-weight: 400;
  color: #999
}

em {
  font-weight: bold;
  font-style: normal;
}

table.project_table {
  width: 100%;
  border-spacing: 0 8px;
  border-collapse: separate;
}

table.staffing_table {
  width: 50%;
  border-spacing: 0 4px;
  border-collapse: separate;
}

.disabled {
  z-index: 1000;
  background-color: lightgrey;
  opacity: 0.1;
  pointer-events: none;
}

.available_staff_table {
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 12px;
}

.staffing_plans_role_title_cell {
  max-width: 60px;
  min-width: 60px;

}

.staffing_plans_project {
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 12px;
}

.old_staffing_plans_project {
  position: relative;
  font-size: 12px;
}

.staffing_plans_project td {
  text-align: center;
}

.staff_table_grade_header {
  max-width: 18%;
  text-align: center;
}

.staffing_plans_role {
  border-spacing: 0 8px;
  border-collapse: separate;
}

.staffing_plans_role_cell {
  /*width: 6%;*/
}

.role_description {
  height: 36px;
}

ul#action_log {
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
}

.action_log_table {
  text-align: left;
  position: relative;
}

.open_role_background_dev {
  background-color: #0cb0c6 !important
}

.open_role_background_ba {
  background-color: #b53267 !important
}

.open_role_background_qa {
  background-color: #496b3e !important
}

.open_role_background_specialist {
  background-color: #e361a2 !important
}

.open_role_background_ux {
  background-color: #743d74 !important
}

.open_role_background_pm {
  background-color: #2b70b5 !important
}

.probability_label_default.probability_label_ba {
  border-color: #ce4c81;
  background-color: #8d2750
}

.probability_label_default.probability_label_dev {
  border-color: #14d7f1;
  background-color: #098596
}

.probability_label_default.probability_label_ux {
  border-color: #954f95;
  background-color: #532b53
}

.probability_label_default.probability_label_qa {
  border-color: #5f8c50;
  background-color: #334b2b
}

.probability_label_default.probability_label_pm {
  border-color: #418ad2;
  background-color: #21578c
}

.probability_label_default {
  border: 1px;
  border-color: #d4d4d4;
  border-style: solid;
  background-color: #a1a1a1;
  position: absolute;
  left: -7px;
  top: 0;
  font-size: 12px;
  font-family: opensans;
  padding: 0 2px
}

.no_open_role {
  width: 6%;
  padding: 4px;
  border-right: 4px solid #fff;
  background: rgba(154, 160, 165, 0.31)

}

.assigned_role:before {
  content: "✓";
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

