html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

.staffing_plans_role_cell {
  color: #ffffff;
  width: 6%;
  padding: 4px;
  position: relative;
  border-right: 4px solid #fff;
}

table {
  width: 100%;
}

.staffing_plans_role {
  border-spacing: 0 8px;
  border-collapse: separate;
}

.open_role_background_dev {
  background-color: #0cb0c6 !important
}

.open_role_background_ba {
  background-color: #b53267 !important
}

.open_role_background_qa {
  background-color: #496b3e !important
}

.open_role_background_ux {
  background-color: #743d74 !important
}

.open_role_background_pm {
  background-color: #2b70b5 !important
}

.probability_label_default.probability_label_ba {
  border-color: #ce4c81;
  background-color: #8d2750
}

.probability_label_default.probability_label_dev {
  border-color: #14d7f1;
  background-color: #098596
}

.probability_label_default.probability_label_ux {
  border-color: #954f95;
  background-color: #532b53
}

.probability_label_default.probability_label_qa {
  border-color: #5f8c50;
  background-color: #334b2b
}

.probability_label_default.probability_label_pm {
  border-color: #418ad2;
  background-color: #21578c
}

.probability_label_default {
  border: 1px;
  border-color: #d4d4d4;
  border-style: solid;
  background-color: #a1a1a1;
  position: absolute;
  left: -7px;
  top: 0;
  font-size: 12px;
  font-family: opensans;
  padding: 0 2px
}

.no_open_role {
  width: 6%;
  padding: 4px;
  border-right: 4px solid #fff;
  background: rgba(154, 160, 165, 0.31)
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

